<app-header></app-header>
<mat-card class="container">
  <mat-card-content>
    <h2>Az egyetem története</h2>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>1581. május 12.: </span>
        <span matListItemLine
          >Báthory István (1533-1586) erdélyi fejedelem Vilnában kiadja a
          kolozsvári egyetem alapító levelét - ez a szegedi universitas
          eszmetörténeti és intézményi gyökere. A kolozsvári egyetem 1775-ben
          kapott rektorválasztási jogot, akkor alakult át négy karral működő,
          mai értelemben vett teljes értékű egyetemmé.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>XIX. század közepén</span>
        <span matListItemLine
          >Megkezdték működésüket Szegeden olyan intézmények, amelyek a mai
          egyetemi szervezet elődeinek tekinthetőek. Ezek ekkor még egymástól
          teljesen függetlenül működtek: a tanárképzés, a Jogakadémia, a Városi
          Zenede vagy a földműves Iskola.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1921. október 9.:</span>
        <span matListItemLine
          >Menyhárt Gáspár rektor ünnepélyes keretek között megnyitja a „Ferencz
          József Tudományegyetem” első szegedi tanévét, majd pár évvel később a
          mai gyermekklinika helyén az egyetem első alapkő letételével
          megindulnak az egyetemi építkezések.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1930.:</span>
        <span matListItemLine>
          Elkészülnek a Dóm téren az egyetem épületei, továbbá botanikus kertet
          és sportpályákat is kialakítanak a városban.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1937.: </span>
        <span matListItemLine>
          Szent-Györgyi Albert orvosi Nobel-díjat kap.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1940. október 16.:</span>
        <span matListItemLine
          >a második bécsi döntés után, a Ferenc József Tudományegyetemet
          visszahelyezik Kolozsvárra, ugyanakkor Szegeden jogilag új intézményt
          hoznak létre Horthy Miklós Tudományegyetem néven. Az egyetem rektora:
          Szent-Györgyi Albert.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1945.: </span>
        <span matListItemLine
          >A Tisza-parti város egyetemének neve: Szegedi Tudományegyetem.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1951.: </span>
        <span matListItemLine>
          A szegedi tudományegyetemből kiválik az Orvostudományi Kar, önálló
          egyetemként működik tovább.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1962.: </span>
        <span matListItemLine
          >A Szegedi Tudományegyetem felveszi József Attila nevét.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>XX. második felében:</span>
        <span matListItemLine
          >Megalakult az Élelmiszeripari Főiskola, Hódmezővásárhelyen a főiskola
          Állattenyésztési kara. Mindemellett főiskolai szintre emelték a
          védőnőképzést, és megkezdődött az angol nyelvű orvosképzés a Szegedi
          Orvostudományi Egyetemen (SZOTE).</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1987.:</span>
        <span matListItemLine
          >A szegedi orvosegyetem felveszi Nobel-díjas professzorának,
          Szent-Györgyi Albertnek a nevét.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>1996.: </span>
        <span matListItemLine
          >A Szegedi Egyetemi Szövetség létrehozásáról szóló
          szándéknyilatkozatot aláírja a szegedi felsőoktatási intézmények közül
          a József Attila Tudományegyetem, a Szent-Györgyi Albert Orvostudományi
          Egyetem, a Juhász Gyula Tanárképző Főiskola, a Liszt Ferenc
          Zeneművészeti Főiskola, a Kertészeti és Élelmiszeripari Egyetem
          Szegedi Élelmiszeripari Főiskolai Kara, a Debreceni Agrártudományi
          Egyetem Mezőgazdasági Főiskolai Kara (Hódmezővásárhely), valamint
          társult tagként a Hittudományi Főiskola, az MTA Szegedi Biológiai
          Központja vezetője.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2000. január 1.:</span>
        <span matListItemLine
          >A József Attila Tudományegyetem – JATE, a Szent-Györgyi Albert
          Orvostudományi Egyetem – SZOTE, a Juhász Gyula Tanárképző Főiskola –
          JGYTF, a Szegedi Élelmiszeripari Főiskola – SZÉF, valamint a Debreceni
          Agrártudományi Egyetem – Mezőgazdasági Főiskola – DATE-MF
          egyesítésével létrejön a Szegedi Tudományegyetem (SZTE).</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2003. szeptember 1.: </span>
        <span matListItemLine
          >A szegedi konzervatórium a Szegedi Tudományegyetem 11. karaként
          folytatja tevékenységét.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2004. december 9.:</span>
        <span matListItemLine
          >Átadják az SZTE új épületét, a Tanulmányi és Információs Központot
          (TIK), amelynek nagy részét az egyesített kiadvány-állományú Egyetemi
          Könyvtár foglalja el. A központ egy évvel később felveszi József
          Attila nevét.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2009.: </span>
        <span matListItemLine
          >Az SZTE elnyeri a Felsőoktatási Minőség Díjat.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2010.:</span>
        <span matListItemLine>Az SZTE elnyeri a Kutatóegyetem címet.</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2011. május 11.: </span>
        <span matListItemLine
          >Felavatják a Szegedi Tudományegyetem felújított Dugonics téri
          központi épületét.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2012.:</span>
        <span matListItemLine
          >A második hivatalos magyarországi Konfuciusz Intézet megnyitja kapuit
          az SZTE Rektori Hivatal épületében.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2013.:</span>
        <span matListItemLine>Az SZTE elnyeri a Kiemelt Egyetem címet.</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2014. február 6.:</span>
        <span matListItemLine
          >Ünnepélyes keretek között leteszik az ELI-ALPS (ELI Attoszekundumos
          Fényimpulzus Forrás) lézeres kutatóközpont alapkövét Szegeden.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2017. május 23.:</span>
        <span matListItemLine
          >Megnyitják az ELI-ALPS lézeres kutatóközpontot.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2019. június 11.: </span>
        <span matListItemLine
          >Elhelyezik a Szegedi Tudományegyetem Szent-Györgyi Albert Klinikai
          Központ Fül-Orr-Gégészeti és Fej-Nyaksebészeti Klinika új
          épületszárnyának alapkövét.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2019. június 26.:</span>
        <span matListItemLine
          >A Szegedi Tudományegyetem elnyeri az Európai Bizottság támogatását a
          European University Alliance for Global Health (EUGLOH) projektben
          való részvételre.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2019. december 9.: </span>
        <span matListItemLine
          >Tizenötödik születésnapját ünnepli a Szegedi Tudományegyetem József
          Attila Tanulmányi és Információs Központ.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>2020.január 21.: </span>
        <span matListItemLine>
          Ünnepélyes keretek között elhelyezik a közép-európai régió
          legmodernebb biobankjának alapkövét a Szegedi Tudományegyetemen.</span
        >
      </mat-list-item>
    </mat-list>
    <h2>A Zöld Egyetem</h2>
    <p>
      {{ greenSZTE | showMoreLess : showMore }}
      <a href="javascript:;" (click)="showMore = !showMore">{{
        !showMore ? "Több" : "Kevesebb"
      }}</a>
    </p>
  </mat-card-content>
</mat-card>
<div class="margin"></div>
