.hello {
  font-size: 50px;
  font-weight: normal;
  color: rgb(90, 91, 91);
  margin-top: 10px;
  text-align: center;
}

.margin {
  padding: 5%;
}

.container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
  padding-bottom: 5%;
  color: rgb(90, 91, 91);
  box-shadow: 0 0 2px 0 rgba(98, 98, 98, 0.91);
}

.icon {
  color: #fd16a8;
  padding-right: 2%;
}

ul {
  list-style-type: none;
}

p {
  padding: 1%;
  padding-top: 0%;
  font-weight: normal;
  font-size: 17px;
}

.thanks {
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
}

h3 {
  padding: 0%;
  font-weight: lighter;
  font-size: 27px;
}
