.tablesize {
  padding: 2%;
}

h2 {
  color: rgb(102, 103, 103);
  font-weight: normal;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

.icon {
  color: #fd16a8;
  padding-right: 2%;
}

li {
  padding-bottom: 3%;
  color: rgb(90, 91, 91);
}
